@font-face {
    font-family: 'Anecor Gheroos';
    src: url('AnecorGheroos.woff2') format('woff2'),
        url('AnecorGheroos.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

